.delete_modal{
  position: absolute;
  top: 0!important;
  left: 0!important;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.65);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_modal_card{
  height: 200px;
  width: 250px;
  position: absolute;
  z-index: 11;

}

.delete_modal_card_style{
  height: 200px;
  width: 250px;
  z-index: 12;
  box-shadow: -15px  10px 30px 10px #cbc9c9 inset;
  background-color: #ffffff;
  font-weight: bolder;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.delete_modal_card_x_button{
  height: 30px;
  width: 30px;
  position:absolute;
  left: 219px;
  top: -4px;
  color: white;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bolder;
  background-color: transparent;
  z-index: 13;
}

.delete_yes_button{
  height: 39px;
  width: 69px;
  position:absolute;
  left: 90px;
  top: 135px;
  color: #ff0000;
  margin: 2px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bolder;
  background-color: transparent;
  z-index: 13;
  border: 1px solid #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_modal_p{
  position: absolute;
  top: 45px;
  padding: 5px;
  width: 100%;
}

.delete_modal_card_x_button:hover ~ .delete_modal_card_style{
  box-shadow: 0px  0px 5px 5px #b0f86d inset;
  background-color: #ffffff;
  transition: box-shadow 0.3s;
}


.delete_yes_button:hover ~ .delete_modal_card_style{
  box-shadow: 0px  0px 5px 5px #ff0000 inset;
  background-color: #ffffff;
  transition: box-shadow 0.3s;
}


@media only screen and (min-width: 800px) {
  .delete_modal_card {
    width: 350px;
    font-size: 25px;

  }
  .delete_modal_card_style{
    width: 450px;
    height: 250px;
    top: -50px;
    right: -50px;
    position: absolute;
  }
  .delete_modal_card_x_button{
    left: 367px;
    top: -55px;
  }
  .delete_yes_button{
    left:140px;
  }
}