.update_card_parent{
  display:flex;
  justify-content: center;
  align-items: center;
}

.update_card_sun{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  height: 150px;
  border: 1px solid #ffffff;
  background-image: linear-gradient(90deg, #ffa62e 0%, #effc3e 49%, #ffa62e 100%);
  animation:slide_colors 10s linear infinite;
  color: #ffffff;
  font-weight: bolder;
  padding: 2px;
  width: 90%;
  font-size: 18px;
}
.update_card_moon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  height: 150px;
  border: 1px solid #ffffff;
  background-image: linear-gradient(90deg, #cbc9c9 0%, #ffffff 49%, #cbc9c9 100%);
  animation:slide_colors 10s linear infinite;
  color: #000000;
  font-weight: bolder;
  padding: 2px;
  width: 90%;
  font-size: 18px;
}

.update_row{
  text-align: center;
  justify-content: center;
}

.update_row_children{
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: center;
  width: auto;
}


.update_input_sun{
  margin-top: 5px;
  width: 90%;
  border-radius: 15px;
  border: 3px solid #ffc42e;
  padding: 5px;
}
.update_input_sun:focus{
  outline: none;
  box-shadow: 0 0 20px 3px #ffc42e;
  transition: box-shadow 0.3s;
}

.update_input_moon{
  margin-top: 5px;
  width: 90%;
  border-radius: 15px;
  border: 3px solid #cbc9c9;
  padding: 5px;
}
.update_input_moon:focus{
  outline: none;
  box-shadow: 0 0 20px 3px #9b9999;
  transition: box-shadow 0.3s;
}

.update_row_buttons{
  cursor:pointer;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 15px;
  padding: 5px;
  margin-top: 15px;
}
.update_row_buttons:hover{
  border: 3px solid #88eaea;
  box-shadow: 0 0 15px 8px #88eaea inset;
  transition: box-shadow, border 0.3s;
}

.delete{
  border: 3px solid #ff0000;
}
.delete:hover{
  border: 3px solid #ff0000;
  box-shadow: 0 0 5px 5px #ff0000 inset;
  transition: border,color,box-shadow 0.3s;
}

//@keyframes

@keyframes slide_colors {
  to {
    background-position:100vw;
  }
}

//@media

@media only screen and (min-height: 700px) {
  .update_row_buttons {
    height: 50px;
    font-size: larger;
    margin: 20px;
    padding: 8px 25px 0 25px;
  }
  .update_input_sun{
    height: 50px;
    width: 450px;
    font-size: larger;
    margin: 20px;
  }
  .update_input_moon{
    height: 50px;
    width: 450px;
    font-size: larger;
    margin: 20px;
  }
}



@media only screen and (min-width: 450px){
  .update_input_sun{
    width: 70%;
  }
  .update_input_moon{
    width: 70%;
  }
  .update_row_buttons{
    width: 50%;
  }
  .update_card_sun{
    max-width: 70%;
    font-size: 20px;
  }
  .update_card_moon{
    max-width: 70%;
    font-size: 20px;
  }
}
@media only screen and (min-width: 700px){
  .update_input_sun{
    width: 65%;
    max-width: 400px;
  }
  .update_input_moon{
    width: 65%;
    max-width: 400px;
  }
  .update_row_buttons{
    width: 35%;
    max-width: 400px;
  }
  .update_card_sun{
    font-size: 25px;
  }
  .update_card_moon{
    font-size: 25px;
  }
}
@media only screen and (min-width: 1000px){
  .update_input_sun{
    max-width: 400px;
  }
  .update_input_moon{
    max-width: 400px;
  }
  .update_row_buttons{
    max-width: 400px;
  }
  .update_card_sun{
    font-size: 40px;
  }
  .update_card_moon{
    font-size: 40px;
  }
}
